$primary: #fff;
$white: #ffffff;
$text: #000022;
$gray: #cacacc;
$black: #000022;
$primary-gradient: linear-gradient(180deg, #2484C6 0%, #A8DDFF 100%); // Update with your gradient

$normal-gradient: linear-gradient(180deg, #FCE3EE 0%, #F7B1CF 126.66%);
$reverse-gradient: linear-gradient(180deg, #F7B1CF 0%, #FCE3EE 126.66%);
$font-family:'Linux Biolinum', sans-serif;
